<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>car shop</h1>
    <!--ejs 문서시작-->
    <% //자바스크립트로 작성 
    //console.log("Hello ejs");
   // console.log(userName,"\n", carList); 
    for(var car of carList){ %>
    <!--HTML로작성-->
    <p><%=car.title%> : <%=car.company%> : <%=car.price%></p>
    <% } %>
  </body>
</html>
